html, body {
    background-color: #f0f0f0;
}

.app-container {
    max-width: 600px; /* typical mobile width */
    margin: 0 auto;
    border: 1px solid #aaa;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 100vh;
    overflow: hidden;
    background-color: white; /* match your app theme */
}

@media (min-width: 501px) {
    .app-container {
        border-radius: 20px;
    }
}

.toast-success {
	background-color: darkgreen;
}

.toast-error {
	background-color: darkred;
}

.toast-info {
	background-color: #636363;
}

.panel {
	min-width: 100px;
	max-width: 90vw;
}

.app {	
	outline: 1px solid lightgray;
	margin: 0 auto;
}